.masonry-with-columns,
.ais-Hits-list {
  columns: 6 250px;
  column-gap: 5px;
  width: 98%;
  margin-left: 1%;
  break-after: column;
}
.ais-Hits-item {
  list-style-type: none;
  list-style-position: unset !important;
  text-indent: 0 !important;
  padding: 0 !important;
}
